attrs==18.2.0
coverage==4.5.2
cycler==0.10.0
fpdf==1.7.2
matplotlib==3.0.2
numpy==1.16.0
Pillow==5.4.1
pluggy==0.8.1
py==1.7.0
pyparsing==2.3.1
PyQt5==5.11.3
pytest==4.1.1
python-dateutil==2.7.5
pytz==2018.9
sip==4.19.8
six==1.12.0
