attrs==18.1.0
coverage==4.5.1
cycler==0.10.0
fpdf==1.7.2
matplotlib==2.2.2
numpy==1.15.0
Pillow==5.2.0
pluggy==0.7.1
py==1.5.4
pyparsing==2.2.0
PyQt5==5.11.2
pytest==3.6.4
python-dateutil==2.7.3
pytz==2018.5
sip==4.19.8
six==1.11.0
