attrs==19.3.0
coverage==5.1
cycler==0.10.0
fpdf==1.7.2
matplotlib==3.2.1
numpy==1.18.4
Pillow==7.1.2
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
PyQt5==5.14.2
pytest==5.4.2
python-dateutil==2.8.1
pytz==2020.1
sip==5.2.0
six==1.15.0
