attrs==18.2.0
coverage==4.5.1
cycler==0.10.0
fpdf==1.7.2
matplotlib==2.2.3
numpy==1.15.1
Pillow==5.2.0
pluggy==0.7.1
py==1.6.0
pyparsing==2.2.1
PyQt5==5.11.2
pytest==3.8.0
python-dateutil==2.7.3
pytz==2018.5
sip==4.19.8
six==1.11.0
